<!DOCTYPE html>
<html>
  <head>
    <title>techlumanex Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      #banner{
        height: 200px;
        width: 100%;
        object-fit: cover;
             }
      </style>
  </head>
    <body>
      <div class="container">
        <h1 class="text-center mt-4 mb-4">WE ARE HIRING</h1>
        <img class="img-fluid" id="banner" src = "https://techlumanex.repl.co/static/ice.jpg">
        <h2 class="text-center mt-4 mb-4">TECHLUMANEX</h2> 
      <p class="lead">
We are excited to announce that techlumanex is currently seeking talented software engineers to join our team. As a software engineer, you will play a key role in building our webapps.<br>
  
At techlumanex, we are committed to providing our employees with a supportive and collaborative work environment that encourages personal and professional growth. We value creativity, innovation, and hard work, and we believe that our team members are our most valuable asset.<br>
  
To be considered for this position, you should have good knowledge of building apps. In addition, we are looking for someone who is team player, and who shares our commitment.<br>
  
  <h2 class="text-center mt-2 mb-4">Openings</h2>
  <div>
    {% for job in jobs %}
      {% include 'jobitem.html' %}
    {% endfor %}
  </div>
  <div class="text-center">
  <button class="btn btn-secondary btn-lg">Contact us</button>
    <p class="mt-4 mb-4">Copyright 2023, techlumanex</p>
  </div>
    
  </body>

</html>

    